<% include partials/header %>

<div class = 'container'>
    <div class = 'jumbotron'>
        <header>
            <h1>Welcome to TriedIt Landing Page</h1> 
           <p>Your guide to the best experiences in your area</p>
        </header>
    </div>
    <div class='row' style='width:45%; margin: 50px auto;'>
        <a style=' margin: 0 10px;' class='btn btn-primary active' href='/campgrounds/new'>Add a new experience</a>
        <a style=' margin: 0 10px;'   class='btn btn-primary active' href='/campgrounds'>Check out experiences!</a>
    </div>
</div>
<% include partials/footer %>